header h1 {
  text-align: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    flex-wrap: rap;
  }
}
header a {
  text-decoration: none;
  color: white;
  padding: 1.5%;
}
header a:hover {
  background: #fe6c61;
  color: black;
}
.mainPagecontainer {
  width: 85%;
  margin: 0 auto;
}
.mainPagecontainer button {
  background-color: #fe6c61;
  width: 30%;
  color: #FFFFFF;
  height: 10%;
  padding: 2%;
  text-align: center;
}
.mainPagecontainer button:hover {
  background-color: lightseagreen;
  color: black;
}
.mainPagecontainer button:active {
  transform: translateY(4px);
}
body {
  font-family: 'Open Sans', sans-serif;
}
.firstContainer {
  background-image: url("../images/veggies.jpg");
  height: 50vh;
}
.firstContainer h2,
.firstContainer p {
  color: white;
  padding: 5%;
}
@media (max-width: 500px) {
  .firstContainer h2,
  .firstContainer p {
    flex-direction: column;
    font-size: 0.75rem;
  }
}
.firstContainer h2 {
  text-align: center;
}
.firstContainer .intro {
  width: 50%;
  text-align: center;
  height: 40%;
}
@media (max-width: 500px) {
  .firstContainer .intro {
    flex-direction: column;
  }
}
.firstContainer .intro .buttonParent a:visited {
  color: white;
}
.firstContainer button {
  align-self: center;
}
.do {
  background-color: #fe6c61;
  text-align: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .do {
    flex-direction: column;
  }
}
.do .approach {
  background-color: black;
  width: 8%;
  height: 2%;
  padding: 1%;
}
.do .approach a:visited {
  color: white;
}
@media (max-width: 500px) {
  .do .approach {
    width: 20%;
  }
}
.secondSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.secondSection h1 {
  text-decoration: underline;
}
@media (max-width: 500px) {
  .secondSection {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .secondSection .services {
    width: 100%;
  }
}
.secondSection .servecesPic,
.secondSection img {
  width: 750px;
}
@media (max-width: 500px) {
  .secondSection .servecesPic,
  .secondSection img {
    width: 100%;
  }
}
.mapping {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .mapping {
    flex-direction: column;
    justify-content: center;
  }
}
.mapping .stakeholder {
  width: 100%;
}
.mapping .mappingPic,
.mapping img {
  width: 750px;
}
@media (max-width: 500px) {
  .mapping .mappingPic,
  .mapping img {
    width: 100%;
  }
}
.USSD {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .USSD {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .USSD .graph {
    width: 100%;
  }
}
.USSD .mappingPic,
.USSD img {
  width: 750px;
}
@media (max-width: 500px) {
  .USSD .mappingPic,
  .USSD img {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
footer .copyright {
  color: white;
  text-align: center;
  padding: 2%;
  align-content: center;
}
footer span {
  color: red;
}
.team {
  border: 3px solid purple;
  background-image: url("../images/color powder.jpg");
}
.team p {
  color: gold;
  font-weight: bold;
}
.introVid {
  display: flex;
  text-align: center;
  width: 80%;
}
@media (max-width: 500px) {
  .introVid {
    text-align: left;
  }
}
.videos,
iframe {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 2%;
}
@media (max-width: 500px) {
  .videos,
  iframe {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
}
.challengeStatement {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .challengeStatement {
    flex-direction: column;
  }
}
.challengeStatement h1,
.challengeStatement p {
  width: 45%;
}
@media (max-width: 500px) {
  .challengeStatement h1,
  .challengeStatement p {
    width: 100%;
  }
}
.challengeStatement .saudiVid {
  width: 50%;
}
@media (max-width: 500px) {
  .challengeStatement .saudiVid {
    width: 100%;
  }
}
.challengeStatement iframe {
  padding-top: 2%;
}
