header h1 {
  text-align: center;
}
header nav {
  display: flex;
  justify-content: space-between;
  background-color: black;
}
@media (max-width: 500px) {
  header nav {
    flex-direction: column;
    flex-wrap: rap;
  }
}
header a {
  text-decoration: none;
  color: white;
}
.mainPagecontainer {
  width: 85%;
  margin: 0 auto;
}
.mainPagecontainer button {
  background-color: #fe6c61;
  width: 30%;
  color: #FFFFFF;
  height: 10%;
  text-align: center;
}
body {
  font-family: 'Open Sans', sans-serif;
}
.firstContainer {
  background-image: url("../images/veggies.jpg");
  height: 70vh;
}
.firstContainer h2,
.firstContainer p {
  color: white;
}
@media (max-width: 500px) {
  .firstContainer h2,
  .firstContainer p {
    flex-direction: column;
    font-size: 0.75rem;
  }
}
.firstContainer h2 {
  text-align: center;
}
.firstContainer .intro {
  width: 50%;
  text-align: center;
  height: 40%;
}
@media (max-width: 500px) {
  .firstContainer .intro {
    flex-direction: column;
  }
}
.firstContainer button {
  align-self: center;
}
.do {
  background-color: #fe6c61;
  text-align: center;
  padding: 2%;
}
@media (max-width: 500px) {
  .do {
    flex-direction: column;
  }
}
.do .approach {
  background-color: black;
}
.secondSection {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .secondSection {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .secondSection .services {
    width: 100%;
  }
}
.secondSection .servecesPic,
.secondSection img {
  width: 750px;
}
@media (max-width: 500px) {
  .secondSection .servecesPic,
  .secondSection img {
    width: 100%;
  }
}
.mapping {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .mapping {
    flex-direction: column;
    justify-content: center;
  }
}
.mapping .stakeholder {
  width: 100%;
}
.mapping .mappingPic,
.mapping img {
  width: 750px;
}
@media (max-width: 500px) {
  .mapping .mappingPic,
  .mapping img {
    width: 100%;
  }
}
.USSD {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
@media (max-width: 500px) {
  .USSD {
    flex-direction: column;
    justify-content: center;
  }
}
@media (max-width: 500px) {
  .USSD .graph {
    width: 100%;
  }
}
.USSD .mappingPic,
.USSD img {
  width: 750px;
}
@media (max-width: 500px) {
  .USSD .mappingPic,
  .USSD img {
    width: 100%;
  }
}
footer {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  margin: 0 auto;
  background-color: black;
}
footer .copyright {
  color: white;
  text-align: center;
  padding: 2%;
  align-content: center;
}
footer span {
  color: red;
}
