.challengeStatement{
    @media @mobile{
        flex-direction:column;
    }
    display:flex;
    justify-content:space-between;
    h1, p{
        width:45%;
        @media @mobile{
            width: 100%;
        }
    }
    .saudiVid{
        width: 50%;
        @media @mobile{
            width: 100%;
        }
    }
    iframe{
        
        padding-top:2%;
    }
}