header{
   
    h1{
        text-align:center;
    }
    nav{
        @media @mobile{
            flex-direction:column;
            flex-wrap:rap;
        }
        display:flex;
        justify-content: space-between;
        background-color:black;
    }
    a{
        text-decoration:none;
        color: white;
    }
    a:hover{
        background:@melon;
        color:black;
    }
}
