

.introVid{
    display:flex;
    @media @mobile{
        text-align:left;
    }
   text-align:center;
   width:80%;
}
.videos, iframe{
    display:flex;
    flex-wrap:wrap;
    justify-content:space-between;
    padding-bottom:2%;
    @media @mobile{
        width:100%;
        display:flex;
        flex-direction:column;
    }
}